.dashboard-container {
  padding: 20px;
 

  margin-top: 150px;
  width: 100%;
  position: relative;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}
h2 {
  margin-bottom: 20px;
  color: #333;
font-size: 20px;

margin-top: 10px;
 
}
.add-listing-button {
  background-color:green;
  color: white;
  border: none;
  padding: 10px 10px ;
  border-radius: 5px;
  cursor: pointer;

  margin-left: 250px;
  margin-top: 20px;
  font-size: 12px;
  width: 120px;
  height: 40px; /* Adjusted height for better sizing */
  transition: background-color 0.3s ease;
  position:absolute;
}


.submit-button{
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  width: 200px;
  height: 50px; /* Adjusted height for better sizing */
 position: absolute;
 z-index: 4;
 margin-top: 50px;
  margin-right: 200px;
}
.cancel-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  width: 200px;
  height: 50px; /* Adjusted height for better sizing */
z-index: 5;
margin-top: 125px;

position: relative;
}

.add-listing-button:hover,
.submit-button:hover {
  background-color: #0056b3;
  
}

.cancel-button {
  background-color: #dc3545;
}

.cancel-button:hover {
  background-color: #c82333;
}

.listing-form {

  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: auto;
  position:relative;
  height: 450px;
  width: 550px;
  z-index: 2;
}

.listing-form label {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.listing-form input,
.listing-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
 
}

.listing-container {
 margin-left: 250px;
  position: absolute;
margin-top: 70px;
  z-index: 1;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 200px;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card h4 {
  margin: 10px 0;
  color: #007bff;
}

.card p {
  margin: 5px 0;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 10%;
}
.update-button,
.delete-button {
  background-color: #28a745; /* Green for update */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* Add some spacing above the buttons */
  margin-right: 10px; /* Space between buttons */
  font-size: 14px;
}

.delete-button {
  background-color: #dc3545; /* Red for delete */
}

.update-button:hover {
  background-color: #218838; /* Darker green on hover */
}

.delete-button:hover {
  background-color: #c82333; /* Darker red on hover */
}
