.dashboard-container {
  padding: 20px;
  height: 100%;
  position: relative;
  margin-left: 200px; /* Adds space for the navigation sidebar */
  transition: margin-left 0.3s ease; /* Smooth transition for collapsing */
}

.dashboard-container.collapsed {
  margin-left: 100px; /* Adjust when the sidebar is collapsed */
}

body {
  overflow-x: hidden;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 20px;
  margin-top: 10px;
}

.add-listing-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  width: 200px;
  height: 40px;
  transition: background-color 0.3s ease;
  position: absolute; /* Position relative to the parent container */
  top: -5px; /* Keep it at the top of the container */
  left: 1000px; /* Align it to the left */
}

.listing-container {
  margin-top: 70px; /* Create spacing to account for the button above */
  position: relative;
  width: 90%;
}

.add-listing-button:hover {
  background-color: #0056b3;
}

.submit-button1,
.submit-button2,
.cancel-button {
  display: inline-block;
  width: calc(50% - 10px);
  margin: 5px 5px;
}

.submit-button1,
.submit-button2 {
  background-color: #4caf50;
  color: white;
}

.submit-button1:hover,
.submit-button2:hover {
  background-color: #218838;
}

.cancel-button {
  background-color: #dc3545;
  color: white;
}

.cancel-button:hover {
  background-color: #c82333;
}

.listing-form {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  z-index: 2;
}

.listing-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.listing-form input,
.listing-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.listing-container {
  position: relative;
  margin-top: 110px;
  width: 90%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin: 20px auto;
  margin-bottom: 100px;
}

.card {
  border: 1px solid #e9ecef;
  border-radius: 5px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  margin-bottom: 10px;
}

.card h4 {
  margin: 10px 0;
  color: #007bff;
  font-size: 18px;
}

.card p {
  margin: 5px 0;
  font-size: 14px;
}

.update-button,
.delete-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 5px;
  font-size: 14px;
}

.delete-button {
  background-color: #dc3545;
}

.update-button:hover {
  background-color: #218838;
}

.delete-button:hover {
  background-color: #c82333;
}
